<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DashKPI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trees">KPI Tree Catalog</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle waves-effect waves-light" dropdownToggle  id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-user"></i> Profile </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item waves-effect waves-light" href="/home">My account</a>
                    <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
