.kpitree {
  position: relative;
  height: 600px;
}

.kpi {
  width: 175px;
  height: 65px;
  position: absolute;
  padding: 5px;
  z-index: 100;
  cursor: pointer;
  box-shadow: 1px 1px #bebebe;
}

.kpi-active {
  box-shadow: 2px 2px #a80000;
  font-weight: bold;
  padding: 4px;
}

