.kpitree {
  position: relative;
  width: 100%;
  height: 600px;
}

.kpi {
  width: 150px;
  height: 50px;
  position: absolute;
  font-size: small;
  padding: 5px;
  z-index: 100;
  cursor: pointer;
}

.kpi-active {
  background: #ffe0d0 !important;
}

