<div *ngIf="showTitle">
    <h3 class="title">{{kpiTree.name}}
        <span class="badge badge-secondary" *ngIf="isReadOnly">Read Only</span>
    </h3>
</div>

<div id="kpitree">
</div>

<div id="kpiControl" class="kpi-control">
    <div class="">
    </div>
</div>

<div class="modal modal-right fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit
                    {{ kpiTreeConfig && getSelectedKpi() && getSelectedKpi().title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 form-group">
                    <h5><label for="title">Title:</label></h5>
                    <input class="form-control" id="title" type="text" placeholder="No Title" (change)="onKpiTitleChange($event)" />
                </div>

                <div class="col-12 mt-3 form-group">
                    <h5><label>Status:</label></h5>
                </div>

                <div class="row">
                    <label class="col-4 status-radio status-warning" for="warning">Warning <input type="radio"
                            name="status" value="warning" id="warning" (change)="onKpiStatusChange($event)"
                            checked="getSelectedKpi().style.match(/warning/)" /></label>

                    <label class="col-4 status-radio status-primary" for="primary">Primary <input type="radio"
                            name="status" value="primary" id="primary" (change)="onKpiStatusChange($event)"
                            checked="getSelectedKpi().style.match(/primary/)" /></label>

                    <label class="col-4 status-radio status-danger" for="danger">Danger <input type="radio"
                            name="status" value="danger" id="danger" (change)="onKpiStatusChange($event)"
                            checked="getSelectedKpi().style.match(/danger/)" /></label>
                </div>

                <div class="col-12 mt-3 mb-3 form-group">
                    <h5><label for="specsymbol">Special symbol:</label></h5>
                    <input class="form-control" id="specsymbol" type="text" placeholder="$"
                        (change)="onKpiSymbolChange($event)" />
                </div>

                <button class="btn btn-info" (click)="moveKpiSelected(50)">Move Down</button>
                <button class="btn btn-info" (click)="moveKpiSelected(-50)">Move Up</button>
                <div class="row col-12 mt-2">
                    <button class="btn btn-primary" (click)="addKpi()">Add 2 children</button>
                </div>
                <div class="row col-12 mt-2">
                    <button class="btn btn-danger" (click)="removeKpiSelected()">Remove</button>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSave()">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>