#kpitree {
  min-height: 1500px;
  background: url('/assets/bg-dots.png');
}

.kpi {
  width: 175px;
  height: 65px;
  position: absolute;
  padding: 5px 10px;
  z-index: 100;
  cursor: pointer;
  border: 2px solid #bebebe;
}

.kpi-active {
  border: 2px solid #a80000;
  z-index:1000;
  color: #a80000;
}

.kpi-symbol {
  padding: 2px 3px;
  border-radius: .5rem;
  background: #efefef;
}

.alert {
  border-radius: .5rem;
  line-height: 25px;
}

.alert-primary {
  background: #fff;
  border: 1px solid #b7b6bb;
}

.kpi-control {
  position: absolute;
  width: 200px;
  height: 200px;
}

.kpi-edited {
  background: #b2f5ac !important;
}

.active-textarea {
  width: 90%;
  height:90%;
  max-height: 90%;
}

.title {
  position: absolute;
  top: 15%;
  left: 10%;

  background: #004085;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.badge {
  margin: 0 10px
}

.btn {
  margin-right: 10px;
}

.fixed-top {
  top: 60px;
}

.edits {
  display: none;
}

.edit-btn {
  position: absolute;
  margin-top: -50px;
}

.modal-dialog-right {
    margin: 3.5rem 0 0 auto;
    height: 660px;

    .modal-content {
      align-self: flex-start;
      height: 100%;

      .modal-body {
        flex-grow: 0;
      }
    }
}

.status-radio {
  width:100px;
  height: 100px;
  cursor: pointer;
  padding-top: 25px;
  padding-left: 15px;

  input {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
  }

  &.status-primary {
    background: #b8daff;
    color: #004085;

  }
  &.status-warning {
    background: #ffeeba;
    color: #856404;

  }
  &.status-danger {
    background: #f5c6cb;
    color: #721c24;

  }
}

.modal-backdrop {
  background-color: transparent;
}

.modal-body {
  input[type=radio] {
    margin-right: 10px;
  }
  input[type=text] {
    margin-left: 10px;
  }
}

.remove-tree {
  position: relative;
  top: -40px;
  left: 40px;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  .edits {
    display: block;
  }
}


