#kpitree {
  width: 1500px;
  height: 800px;
}

.kpi {
  width: 175px;
  height: 65px;
  position: absolute;
  padding: 5px;
  z-index: 100;
  cursor: pointer;
  border: 2px solid #bebebe;
}

.kpi-active {
  border: 2px solid #a80000;
  z-index:1000;
  color: #a80000;
}

.kpi-control {
  position: absolute;
  width: 200px;
  height: 200px;
}

.kpi-edited {
  background: #b2f5ac !important;
}

.active-textarea {
  width: 90%;
  height:90%;
  max-height: 90%;
}

.title {
  position: absolute;
  top: 15%;
  left: 10%;

  background: #004085;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.badge {
  margin: 0 10px
}

.btn {
  margin-right: 10px;
}

.fixed-top {
  top: 60px;
}

.edits {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .edits {
    display: block;
  }
}


