#kpitree {
  width: 1500px;
  height: 800px;
}

@keyframes kpiTreeScale {
  from {transform: scale(1)}
  to {transform: scale(1.1)}
}

.kpi {
  width: 175px;
  height: 65px;
  position: absolute;
  padding: 5px;
  z-index: 100;
  cursor: pointer;
  border: 2px solid #bebebe;
}

.kpi-active {
  border: 2px solid #a80000;
  z-index:1000;
  transform: scale(1.1);
  animation-name: kpiTreeScale;
  animation-duration: 0.5s;
}

.kpi-control {
  position: absolute;
  width: 200px;
  height: 200px;
}

.kpi-edited {
  background: #b2f5ac !important;
}

.active-textarea {
  width: 90%;
  height:90%;
  max-height: 90%;
}

